@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* common style */
 .display-flex{
    display: flex;
 }

 .text-1{
  color: #FF900E;
 }
 .text-gray{
  color: #424242;
  
 }
 .text-light-gray{
    color: #727272;
 }
 .bg-light{
   background-color:rgba(255, 144, 14, 0.1);
    
 }
 .btn-1{
background-color: #FF900E;
color: white;
padding:20px 25px ;
border-radius: 8px;
font-weight: 600;
font-size: 1.25rem;
border: 0;
 }
 main{
  max-width: 1440px;
  margin: 0 auto;
 }
 main > section{
   margin:130px ;
 }
.section-title{
      font-size: 2.8rem;
      font-weight: 700;
     }
/* header style */


/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right:30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar,.banner{
 max-width: 1440px;
 margin: 0 auto;
}
/* banner related style */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-image{
    width: 100%;
  }
  /* team and featurew related styles */
    .teams{
       align-items: center;
    }
    .team-image-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 24px;
    }
     
    .our-featurers{
      margin-left: 130px;
      max-width: 530px;
    }
    #quick-list{
      font-weight: 500;

    }
      /* feature related style */
      .features{
        gap:140px ;
        
      }
    #features-section-title{
         border-left: 5px solid #FF900E;
         padding-left: 30px;
    }
   
  .feature-card{
    padding: 0px;
      border-radius: 8px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
      margin-bottom: 30px;
  }
     .feature-card .feature-title{
      font-weight: 600;
      font-size: 1.25 rem;
      margin-top: 0px;
      margin-bottom: 0px;
     
    }

    #exi{
      padding: 45px 42px ;
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: -100px;
      margin-top: -100px;
    }
    #exi-year{
      font-size: 4rem;
      font-weight: 700;
    }
    .features-archi img{
      width: 100%;

    }
    /* some fact releted style */
      .fact-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
      }
    .fact-card{
      border: 1px solid #FF900E;
      width: 240px;
      height: 240px ;
      border-radius: 8px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .fact-number{
       font-size: 2.8rem;
       font-weight: 600;
       margin-top: 10px;
       margin-bottom: 5px;
    }
    .fact-name{
      font-size:1.25rem ;
      font-weight: 600;
      margin-top: 10px;
    }

    .fact-description{
      max-width: 540px;
      margin-bottom: 10px;
    }
    /* sponsor related styles */
    .sponsor-info{
      max-width: 540px;
      margin: 50px auto;
      text-align: center;
    }
    .sponsor-companies{
       display: grid;
      grid-template-columns: repeat(5,1fr);
    }
    .sponsor-companies img{
      filter: grayscale(100%);
    }
  /* responsive media query for small size*/
  
  @media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams,  
    .features{
      flex-direction: column;
      
    }
    .team-image-container , 
    .fact-container,
    .sponsor-companies
    {
     grid-template-columns: repeat(1,1fr);
      
    }
    .fact-container{
      justify-items: center;
      gap: 24px;
    }
    .sponsor-companies{
      gap: 50px;
      justify-items: center;
    }
     .our-featurers{
      margin-left: 20px;
     }
     #exi{
      margin-top: 10px;
      margin-left: 10px;
     }
  }
  /* responsive media query for medium size*/
 @media screen and (min-width:576px) and (max-width:992px) {
  .teams, .features{
    flex-direction: column; 
  }
  .our-featurers{
    margin: 50px auto;
  }
  .sponsor-companies, .fact-container, .team-image-container{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items: center;
  }
  #exi{
      margin-top: 20px;
      margin-left: 20px;
     }
 }
